@use '../includes/variables' as *;

.ocLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $oc-bg;
    // Ein sehr dezenter radialer Verlauf sorgt für Tiefe
    background-image: radial-gradient(at 0% 0%, rgba($oc-primary, 0.03) 0px, transparent 50%), radial-gradient(at 100% 100%, rgba($oc-primary, 0.02) 0px, transparent 50%);
}

.ocMain {
    flex: 1;
    width: 100%;
    max-width: $desktop;
    margin: 0 auto;
    padding: 1.5rem 1rem;

    padding-bottom: calc(100px + env(safe-area-inset-bottom));

    @media (min-width: $tablet) {
        padding: 2.5rem 2rem;
        padding-bottom: 3rem;
    }

    @media (min-width: $laptop) {
        padding: 4rem 3rem;
    }
}

.ocMobileOnly {
    @media (min-width: $tablet) {
        display: none !important;
    }
}

.ocDesktopOnly {
    display: none !important;
    @media (min-width: $tablet) {
        display: block !important;
    }
}
